.site-footer {
  background-color: $c-black;

  @include mq(xxs, md) {
    padding: 30px 0;
  }

  @include mq(md) {
    padding: 68px 0;
  }

  &__row {
    @include mq(xxs, md) {
      text-align: center;
    }

    @include mq(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    display: inline-flex;
    align-items: flex-start;

    @include mq(xxs, md) {
      margin: 0 0 40px;
    }

    img {
      @include mq(xxs, md) {
        max-width: 242px;
      }

      @include mq(md, lg) {
        max-width: 200px;
      }

      @include mq(lg) {
        max-width: 242px;
      }
    }
  }

  &__nav {
    ul {
      @extend %reset-ul;

      @include mq(xxs, md) {
        margin: 0 0 40px;
      }

      @include mq(md) {
        display: flex;
      }
    }

    li {
      @include mq(xxs, md) {
        margin: 0 0 20px;
      }

      @include mq(md, lg) {
        margin: 0 10px;
      }

      @include mq(lg) {
        margin: 0 25px;
      }
    }

    a {
      line-height: 1.375;
      color: $c-white;
      text-transform: uppercase;
      font-weight: 700;
      opacity: .5;
      transition: .2s ease-out;
      border-bottom: 3px solid transparent;

      @include mq(xxs, md) {
        font-size: 17px;
        letter-spacing: 2px;
        padding: 3px 0;
        display: inline-block;
      }

      @include mq(md) {
        padding: 19px 0;
        display: block;
      }

      @include mq(md, lg) {
        font-size: 14px;
      }

      @include mq(lg) {
        font-size: 17px;
        letter-spacing: 2px;
      }

      &:hover {
        opacity: 1;
        border-color: $c-orange;
      }
    }
  }

  &__contact {
    font-size: 18px;
    line-height: 1.38;
    color: $c-orange;
    display: inline-flex;
    align-items: center;

    svg {
      width: 22px;
      height: 17px;
      margin-top: -4px;
      margin-right: 18px;
      fill: currentColor;
      @extend %transition-fill;
    }

    &:hover {
      color: #FC7A10;
    }
  }
}
