.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-image: linear-gradient(90deg, #020102 0%, #211D1B 26%, #2D2825 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform .4s ease-out;

  @include mq(xxs, xl) {
    height: 70px;
  }

  @include mq(xl) {
    height: 118px;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__open-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #2D2826;

    @include mq(xxs, xl) {
      width: 70px;
      height: 70px;
      padding-left: 20px;
    }

    @include mq(xl) {
      width: 110px;
      height: 118px;
      padding-left: 33px;
    }

    span {
      height: 4px;
      background-color: $c-white;
      border-radius: 10px;
      @extend %transition-opacity-tr;
    }

    .menu-icon-1 {
      width: 14px;
    }

    .menu-icon-2 {
      width: 34px;
      margin: 7px 0;
    }

    .menu-icon-3 {
      width: 20px;
    }

    &.active {
      .menu-icon-1 {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
      }

      .menu-icon-2 {
        transform: rotate(45deg);
        margin: 0;
      }

      .menu-icon-3 {
        transform: rotate(-45deg);
        width: 34px;
        margin-top: -4px;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: flex-start;

    @include mq(xxs, xl) {
      margin-left: 20px;

      img {
        max-width: 192px;
      }
    }

    @include mq(xl) {
      margin-left: 38px;

      img {
        max-width: 322px;
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__contact {
    font-size: 18px;
    line-height: 1.38;
    color: $c-orange;
    align-items: center;
    position: relative;
    margin-right: 20px;
    z-index: 2;
    display: flex;
    align-items: center;

    svg {
      width: 22px;
      height: 17px;
      margin-top: -4px;
      fill: currentColor;
      @extend %transition-fill;
    }

    .text {
      display: none;
    }

    @include mq(sm) {
      .text {
        margin-left: 10px;
        display: inline-block;
      }
    }


    &:hover {
      color: #FC7A10;
    }
  }

  &__nav {
    background-image: linear-gradient(0deg, #020102 10%, #2D2825 60%);
    transition: transform .4s ease-out, opacity .2s ease-out, visibility .2s ease-out;
    width: 100%;
    max-width: 556px;
    position: absolute;
    left: 0;
    top: 100%;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 80px, 0);

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &.scroll-spy {
      #contact-link svg {
        display: none;
      }
    }

    ul {
      position: relative;
      z-index: 2;
      opacity: 0;
      transform: translate3d(0, -80px, 0);
      transition: transform .4s ease-out .2s, opacity .2s ease-out .2s;
      @extend %reset-ul;

      @include mq(xxs, lg) {
        padding: 60px 30px 60px 100px;
      }

      @include mq(lg) {
        padding: 112px 30px 112px 200px;
      }
    }

    li {
      margin: 0 0 30px;

      &:last-child {
        margin: 0;

        a {
          color: $c-orange;
          opacity: 1;
        }
      }
    }

    a {
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      color: $c-white;
      line-height: 1.35;
      display: inline-block;
      position: relative;
      opacity: .4;
      @extend %transition-opacity;

      &::before {
        position: absolute;
        content: '';
        left: -22px;
        @extend %transition-opacity;
        top: calc(50% - 1px);
        height: 3px;
        opacity: 0;
        padding-left: 9999px;
        margin-left: -9999px;
        transform: translate3d(0, -50%, 0);
        background-color: $c-orange;
      }

      &:hover {
        opacity: 1;

        &::before {
          opacity: 1;
        }
      }
    }

    .active a {
      opacity: 1;

      &::before {
        opacity: 1;
      }
    }
  }

  @include mq(md) {
    &--home {
      transform: translate3d(0, -130%, 0);
    }

    &.sticky {
      transform: translate3d(0, 0, 0);
    }
  }


}
