$window: 100%;
$wrap: 1550px;
$padding-left: 15px;
$padding-right: 15px;

$font-size: 14px;
$line-height: 1.7;
$font-family: 'Manrope', sans-serif; $ff: $font-family;
//$font-title: ; $ft: $font-title;

$c-primary: #070908; $p: $c-primary;
$c-secondary: #000000; $s: $c-secondary;
$c-text: $c-primary; $t: $c-text;
$c-link: $c-primary; $l: $c-link;

$c-white: #ffffff; $w: $c-white;
$c-black: #000000; $b: $c-black;
$c-gray: #fafafa; $g: $c-gray;
$c-green: #00cc00;
$c-blue: #0583be;
$c-red: #f94242;
$c-orange: #E67E37;
$c-yellow: #FAB745;
$c-transparent: transparent; $tr: $c-transparent;

$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$demi-bold: 600;
$bold: 700;
$heavy: 800;
$extra: 900;


