.item {
  position: relative;
  overflow: hidden;

  @include mq(xxs, xl) {
    padding: 100px 0 144px;
  }

  @include mq(xl) {
    padding: 206px 0 144px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(200px, 0, 0);
    transition: transform .4s ease-out .2s, opacity .2s ease-out .2s;

    @include mq(xxs, lg) {
      display: none;
    }

    img {
      position: absolute;
      top: 243px;
      left: 50%;
    }
  }

  &__top {
    position: relative;
    z-index: 2;

    @include mq(xxs, sm) {
      margin: 0 0 40px;
    }

    @include mq(sm, md) {
      margin: 0 0 70px;
    }

    @include mq(md) {
      margin: 0 0 100px;
    }

    h1 {
      line-height: 1.37;
      margin: 0 0 10px;
      opacity: 0;
      transform: translate3d(0, 120px, 0);
      transition: transform .4s ease-out .2s, opacity .2s ease-out .2s;

      @include mq(xxs, sm) {
        font-size: 40px;
      }

      @include mq(sm, md) {
        font-size: 48px;
      }

      @include mq(md) {
        font-size: 54px;
      }
    }

    p {
      font-size: 26px;
      line-height: 1.38;
      font-weight: 300;
      margin: 0;
      opacity: 0;
      transform: translate3d(0, 120px, 0);
      transition: transform .4s ease-out .3s, opacity .2s ease-out .3s;
    }
  }

  &__back {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    margin: 0 0 10px;
    opacity: 0;
    transform: translate3d(0, 120px, 0);
    transition: transform .4s ease-out, opacity .2s ease-out;

    svg {
      width: 8px;
      height: 14px;
      margin-right: 20px;
    }

    span {
      text-decoration: underline;
    }

    &:hover {
      span {
        text-decoration: none;
      }
    }
  }
}

.careers-item {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translate3d(0, 400px, 0);
  transition: transform .4s ease-out .4s, opacity .2s ease-out .4s;

  @include mq(xxs, md) {
    .careers__desc h2 {
      display: none;
    }
  }

  .careers-list {
    max-width: inherit;

    @include mq(xxs, md) {
      width: 100%;
    }

    @include mq(lg) {
      flex: 0 0 650px;
    }
  }

  .careers-view {
    background-color: $c-white;
    flex: 1;
    margin: 0;

    @include mq(xxs, md) {
      display: none;
    }

    @include mq(md, lg) {
      padding: 60px 30px 25px;
    }

    @include mq(lg, xl) {
      padding: 60px 60px 25px;
    }

    @include mq(xl) {
      padding: 105px 130px 25px;
    }

    &:empty {
      display: none;
    }

    .careers__info {
      display: block;

      &::-webkit-scrollbar {
        width: 5px;
        
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $c-orange;
        border-radius: 5px;
      }
    }

    .careers__offers {
      margin: 0 0 30px;
    }
  }
}