<header class="site-header">
  <div class="site-header__box">
    <a href="#" class="site-header__open-menu">
      <span class="menu-icon-1"></span>
      <span class="menu-icon-2"></span>
      <span class="menu-icon-3"></span>
    </a>
    <a href="/" class="site-header__logo">
      <img src="assets/img/logo.png" alt="Site Logo">
    </a>
  </div>
  <a href="#" class="site-header__contact">
    <svg class="icon-email">
      <use xlink:href="#icon-email"></use>
    </svg>
    Contact Us
  </a>
  <nav class="site-header__nav">
    <ul>
      <li><a href="/#solutions">Solutions</a></li>
      <li><a href="/#clients">Clients</a></li>
      <li><a href="/#careers">Careers</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="/#leadership">Leadership</a></li>
      <li><a href="/#news">News</a></li>
      <li><a href="/#contact">Contact Us</a></li>
    </ul>
  </nav>
</header>
<div class="news-item">
  <div class="animate">
    <div class="news-item__top">
      <div class="wrap">
        <div class="row">
          <div class="col-lg-6">
            <div class="news-item__info">
              <a href="/" class="news-item__back">
                <svg class="icon-chevron-left">
                  <use xlink:href="#icon-chevron-left"></use>
                </svg>
                <span>Back</span>
              </a>
              <h1>You want chips with that? Marketing revolutionary chip design tools</h1>
              <p>October 10, 2017</p>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="assets/img/news.jpg" alt="You want chips with that? Marketing revolutionary chip design tools">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrap">
    <article class="post">
      <blockquote class="animate-article">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
      </blockquote>
      <div class="post__item animate-article">
        <img src="assets/img/news-1.png" alt="Standard dummy">
        <h2>Standard dummy</h2>
        <ul>
          <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </li>
          <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
          <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</li>
        </ul>
      </div>
      <div class="post__item animate-article">
        <img src="assets/img/news-2.png" alt="Revolutionary chip">
        <h2>Revolutionary chip</h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
        <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
      </div>
      <div class="post__item animate-article">
        <h2>Revolutionary chip</h2>
        <ol>
          <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </li>
          <li>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. </li>
          <li>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. </li>
          <li>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</li>
        </ol>
      </div>
    </article>
  </div>
</div>
<div class="related-news animate">
  <div class="wrap">
    <div class="home__title">
      <h2>Keep reading</h2>
    </div>
    <div class="row row--news">
      <div class="col-md-4">
        <a href="/news" class="news">
          <img src="assets/img/n-1.png" alt="The standard chunk of Lorem Ipsum">
          <div class="news__desc">
            <h3>October 10, 2017</h3>
            <h2>The standard chunk of Lorem Ipsum</h2>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/news" class="news">
          <img src="assets/img/n-2.png" alt="The standard chunk of Lorem Ipsum">
          <div class="news__desc">
            <h3>October 10, 2017</h3>
            <h2>The standard chunk of Lorem Ipsum</h2>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/news" class="news">
          <img src="assets/img/n-3.png" alt="The standard chunk of Lorem Ipsum">
          <div class="news__desc">
            <h3>October 10, 2017</h3>
            <h2>The standard chunk of Lorem Ipsum</h2>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<footer class="site-footer">
  <div class="wrap">
    <div class="site-footer__row">
      <a href="/" class="site-footer__logo">
        <img src="assets/img/logo.png" alt="Logo">
      </a>
      <nav class="site-footer__nav anchor-menu">
        <ul>
          <li><a href="/#solutions">Solutions</a></li>
          <li><a href="/#clients">Clients</a></li>
          <li><a href="/#careers">Careers</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#leadership">Leadership</a></li>
          <li><a href="/#news">News</a></li>
        </ul>
      </nav>
      <a href="#contact" class="site-footer__contact">
        <svg class="icon-email">
          <use xlink:href="#icon-email"></use>
        </svg>
        Contact Us
      </a>
    </div>
  </div>
</footer>
<div class="popup">
  <div class="popup__box">
    <div class="popup__bg"></div>
    <div class="popup__item">
      <a href="#" class="popup__close">
        <svg class="icon-close">
          <use xlink:href="#icon-close"></use>
        </svg>
      </a>
      <div class="popup__row">
        <div class="popup__col">
          <div class="popup__txt">
            <div class="popup__txt-top">
              <h3>Interested?</h3>
              <h2>You know<br>what to do</h2>
            </div>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
          </div>
        </div>
        <div class="popup__col">
          <form action="#">
            <div class="form-group">
              <input type="text" id="popup-name">
              <label for="popup-name">Full name</label>
            </div>
            <div class="form-group form-group--select">
              <select id="popup-status">
                <option value="1">I am a US citizen/resident</option>
              </select>
              <label for="popup-status">Visa status</label>
            </div>
            <div class="form-group">
              <input type="text" id="popup-email">
              <label for="popup-email">Email address</label>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="upload-box">
                  <a href="#" class="custom-upload">Upload resume</a>
                  <input type="file" class="custom-file">
                </div>
              </div>
              <div class="col-md-6">
                <button class="btn-popup">
                  <em>
                    <span class="btn-popup__title">Submit now</span>
                    <span class="btn-popup__icon">
                      <svg class="icon-small-logo-white">
                        <use xlink:href="#icon-small-logo-white"></use>
                      </svg>
                    </span>
                  </em>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<img src="assets/img/symbol-sprite.svg" alt="" id="svg-inject-me">
