<ul>
  <li title="Solutions" class="active"><a href="#solutions">Solutions</a></li>
  <li title="Clients"><a href="#clients">Clients</a></li>
  <li title="Careers"><a href="#careers">Careers</a></li>
  <li title="About"><a href="#about">About</a></li>
  <li title="Leadership"><a href="#leadership">Leadership</a></li>
  <!-- <li title="News"><a href="#news">News</a></li> -->
  <li title="Contact Us">
    <a href="#contact" id="contact-link">
      <svg class="icon-email">
        <use xlink:href="#icon-email"></use>
      </svg>
      <span class="text">
        Contact Us
      </span>
    </a>
  </li>
</ul>
